@import "tailwindcss";

:root {
  --background: #DDF4E5;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-color-green {
  color: #A4B3AC;
} 

.font-color-subtitle {
  color: #7C7D7D;
}

.card-pokemon-background-img {
  background-color: #FAFAFA;
}

.card-pokemon {
  border-color: #B3ECDB;
}


